services:
  postgres:
    image: postgres:16
    container_name: anythingbutstarbucks-postgres
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - anythingbutstarbucks_pgdata:/var/lib/postgresql/data

volumes:
  anythingbutstarbucks_pgdata: